{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
<!-- Fullscreen Page
================================================== -->
<div id="fullscreen" class="blog"> <!--- Full Screen Blog Page -->

    <!-- Top Navigation Bar -->
      <nav id="top-nav" class="navbar navbar-default" role="navigation">
        <div class="container">
          <div class="pull-left text-left">
            <span id="menu" class="fa fa-bars fa-2x" data-toggle="offcanvas" data-target=".navmenu" data-canvas="body"></span>
          </div>
        </div>
      </nav> <!-- End Top Navigation Bar -->

    <div id ="blog"> <!-- Start Blog Content -->
      <div class="container"> <!-- Start Container -->
        <div id="content"><!--- Start Content Wrapper-->
          <div class="text"> <!--  Text -->

            <!-- Start Blog Posts -->
            <div id="posts" class="portfolio">

              <div class="row">

                <div class="col-lg-4 col-md-4 item">
                  <div class="details">
                    <a href="{% url 'historia_conciencia_poder' %}">
                      <h4>Historia de la Conciencia y el Poder</h4>
                    </a>
                    <span class="meta-author">Julio 2015</span>
                    <br>
                    <br>
                  </div>
                  <a href="{% url 'historia_conciencia_poder' %}"><img src="{% static 'img/criptolibertad/cubo_pequeno.jpg' %}" alt='' class="img-responsive"/></a>
                </div>

                <div class="col-lg-4 col-md-4 item">
                  <div class="details">
                    <a href="{% url 'v_prologo' %}">
                      <h4>1 - Prólogo</h4>
                    </a>
                    <span class="meta-author">Noviembre 2015</span>
                    <br>
                    <br>
                  </div>
                  <a href="{% url 'v_prologo' %}"><img class="img_video" src="{% static 'img/criptolibertad/videos/prologo.png' %}" alt='' class="img-responsive"/></a>
                </div>


                <div class="col-lg-4 col-md-4 item">
                  <div class="details">
                    <a href="{% url 'v_conciencia' %}">
                      <h4>2 - Conciencia</h4>
                    </a>
                    <span class="meta-author">Diciembre 2015</span>
                    <br>
                    <br>
                  </div>
                  <a href="{% url 'v_conciencia' %}"><img class = "img_video" src="{% static 'img/criptolibertad/videos/1_conciencia.png' %}"
                                                          alt='' class="img-responsive"/></a>
                </div>

                <div class="col-lg-4 col-md-4 item">
                  <div class="details">
                    <a href="{% url 'v_poder' %}">
                      <h4>3 - Poder</h4>
                    </a>
                    <span class="meta-author">Diciembre 2015</span>
                    <br>
                    <br>
                  </div>
                  <a href="{% url 'v_poder' %}"><img class = "img_video" src="{% static 'img/criptolibertad/videos/2_poder.png' %}"
                                                          alt='' class="img-responsive"/></a>
                </div>


                <div class="col-lg-4 col-md-4 item">
                  <div class="details">
                    <a href="{% url 'v_teismo' %}">
                      <h4>3 - Teísmo</h4>
                    </a>
                    <span class="meta-author">Diciembre 2015</span>
                    <br>
                    <br>
                  </div>
                  <a href="{% url 'v_teismo' %}"><img class = "img_video" src="{% static 'img/criptolibertad/videos/3_teismo.png' %}"
                                                          alt='' class="img-responsive"/></a>
                </div>

                <div class="col-lg-4 col-md-4 item">
                  <div class="details">
                    <a href="{% url 'v_castillo' %}">
                      <h4>4 - Castillo</h4>
                    </a>
                    <span class="meta-author">Enero 2015</span>
                    <br>
                    <br>
                  </div>
                  <a href="{% url 'v_castillo' %}"><img class = "img_video" src="{% static 'img/criptolibertad/videos/4_castillo.png' %}"
                                                          alt='' class="img-responsive"/></a>
                </div>

                <div class="col-lg-4 col-md-4 item">
                  <div class="details">
                    <a href="{% url 'v_caverna' %}">
                      <h4>5 - Caverna</h4>
                    </a>
                    <span class="meta-author">Enero 2015</span>
                    <br>
                    <br>
                  </div>
                  <a href="{% url 'v_caverna' %}"><img class = "img_video" src="{% static 'img/criptolibertad/videos/5_caverna.png' %}"
                                                          alt='' class="img-responsive"/></a>
                </div>

                <div class="col-lg-4 col-md-4 item">
                  <div class="details">
                    <a href="{% url 'v_mitologia' %}">
                      <h4>6 - Mitologia</h4>
                    </a>
                    <span class="meta-author">Febrero 2015</span>
                    <br>
                    <br>
                  </div>
                  <a href="{% url 'v_mitologia' %}"><img class = "img_video" src="{% static 'img/criptolibertad/videos/6_mitologia.png' %}"
                                                          alt='' class="img-responsive"/></a>
                </div>

                <div class="col-lg-4 col-md-4 item">
                  <div class="details">
                    <a href="{% url 'v_democracia' %}">
                      <h4>7 - Democracia</h4>
                    </a>
                    <span class="meta-author">Febrero 2015</span>
                    <br>
                    <br>
                  </div>
                  <a href="{% url 'v_democracia' %}"><img class = "img_video" src="{% static 'img/criptolibertad/videos/7_democracia.png' %}"
                                                          alt='' class="img-responsive"/></a>
                </div>

                <div class="col-lg-4 col-md-4 item">
                  <div class="details">
                    <a href="{% url 'v_templo' %}">
                      <h4>8 - Resumen - Templo</h4>
                    </a>
                    <span class="meta-author">Marzo 2015</span>
                    <br>
                    <br>
                  </div>
                  <a href="{% url 'v_templo' %}"><img class = "img_video resumen" src="{% static 'img/criptolibertad/videos/8_templo.png' %}"
                                                          alt='' class="img-responsive"/></a>
                </div>
              </div>
          <div class="space"></div>
          <div class="clearfix"></div>
          </div> <!-- End Blog Posts -->

        </div><!--  End Text Wrapper -->
      </div> <!--- End Content Wrapper-->

    </div> <!-- End Row -->
  </div> <!-- End Container -->
{% endblock content %}
