{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
<!-- Fullscreen Page 
================================================== -->
<div id="fullscreen">  <!--- Full Screen Single Blog Post Page -->
  <div id="sidebar" class="blog">
    <div class="featured-img"><img src="{% static 'img/criptolibertad/hacker3.jpg' %}" alt="..."></div> <!-- featured image-->
  </div>

  <div class="container"> <!-- Start Container -->
    <div class="row"> <!-- Start Row -->
      <div id="left" class="col-sm-6 col-md-6"> <!--- Left Content -->
        
          <div id="menu" class="fa fa-bars fa-2x" data-toggle="offcanvas" data-target=".navmenu" data-canvas="body"></div>
          <div id="page-detail">
            
            <h1>El CRIPTO - ANARQUISMO como única <br>SALIDA</h1>
                        
            <ul class="tags">
              <li>Anarquía</li>
              <li>Política</li>
              <li>Poder</li>
            </ul>

          </div>
      </div> <!--- End Left Content -->

                <div id="right" class="col-sm-6 col-md-6"> <!--- Right Content -->
                <div id="content"><!--- Start Content Wrapper-->
                <div class="text"> <!--- Start Text Wrapper -->
                <span class="meta-date pull-right">Artículo que publiqué en <a href="www.miseshispano.org">miseshispano.org</a>. <br>
                Dialoga con el libertarianismo, el anarcocapitalismo y el mutualismo.
                </span>
                <br>
                <br>
                <p> 
                I
              <br><br>
                El criptoanarquismo significa un cambio importante en el acercamiento a la ideología. Aunque será inevitable dejar cabos sueltos, trataré de explicarlo en términos generales con el objetivo de despertar curiosidad suficiente en el lector para que continúe la investigación por su cuenta.
                </p>

                <br><br>

                <img src="{% static 'img/criptolibertad/thinkingman.png' %}" alt="..." class="img-responsive">

                <blockquote>
                  La expresión que el anarquismo pudiera tomar si es que alguna vez se posa sobre el mundo es sujeto de discusiones que pueden ser señaladas como neuróticas, en el fondo irrelevantes y en la práctica dañinas para un movimiento que, en este crucial momento de la Historia, intenta desarticuladamente sacudir el peso del Estado de sus espaldas.
                </blockquote>

                <p>
Estas discusiones vienen en forma de preguntas: ¿Puede firmarse un contrato de esclavitud?, ¿pena de muerte?, ¿transgénicos?, ¿aborto?, ¿todas las drogas?, ¿todas las armas?, ¿propiedad comunitaria?, ¿fronteras restrictivas?. De las preguntas nacen divagaciones que luchan por demostrar cuál de las posibles respuestas encaja con el derecho natural, o si no se cree en él, con el progreso, o con lo que se tenga en el altar.

              <br><br> 

“Quien no quiera abortar, que no lo haga, lo importante es que no esté prohibido” es una respuesta que claramente elude el tema sobre la mesa (el aborto), pero que invita a pensar sobre los rostros de la descentralización: En una ciudad poblada de católicos conservadores es probable que no se encuentren doctores que lo practiquen y que las instituciones médicas no lo permitan ni las aseguradoras lo aseguren, es decir, el aborto estaría prohibido. Sin acudir al Estado, la cultura esculpiría límites, quizás no fuera nudista la paya de Río, quizás si. La ambigüedad del NAP (Non-Agression-Principle) es obvia si se lo eleva a todos los ámbitos, cual fórmula matemática.

              <br><br>

¿Depende la ilegalización del aborto de la existencia del Estado? o, ¿Qué sería de la propiedad comunitaria en un mundo sin Estado?. No falta la arrogancia de quien está seguro que su moral es la única útil… Pero no, los rostros del anarquismo empiezan a enumerarse y el clásico ideal es un mundo de Ciudades Estado donde la gente “vote con los pies”.

              <br><br> 

El libertario radical llega hasta aquí tras un riguroso proceso de selección de argumentos, no acepta resquicios en su lógica, estudia al mercado, al derecho y al gobierno. Sin embargo, una suerte de alucinógeno se adueña de él y de repente el complejo mundo en el que vivimos se parte en simples e inofensivas “Ciudades Estado” para dar fin a la Historia. El disparate se mezcla con sabores monárquicos y pequeñas Libertlands como si no existiera algo que escribiré con mayúsculas y que atrae a las élites, el PODER.

               <br><br>

Ya Atenas y Esparta dieron paso al Imperio de Macedonia en el pasado, ya el poder ha demostrado siempre ser un cáliz irresistible. Es ingenuo pensar que unas imaginarias Ciudades Estado, New York y Londres, no se chocarían, se unieran o se entregaran a un imperio. Es ingenuo pensar que de repente ese imperio, por algún llamado de la culpa, se divida en atomizadas Ciudades Estado.

               <br><br>

El poder es un trono abstracto, mientras esté al alcance de una élite, cualquiera, será ocupado y codiciado. Solamente un entendimiento bélico de la realidad es una ventana adecuada: No hay pausa para quienes desean el poder.

               <br><br>

El libertario puede continuar imaginando como sería su paraíso (si hubieran o no contratos de esclavitud, justicia restitutiva, reserva fraccionaria, etc), ese mundo puede convertirse en su ideal y en su estandarte y puede luchar por él en discusiones con otros libertarios una y otra vez. Así, sedado por la reflexión de “cómo serían las cosas”, levanta muros que lo separan de los otros ancarcocapitalistas, de los left-libertarians o más allá, los mutualistas, ecoanarquistas o anarcosindicalistas. El muro se convierte en lo único de importancia y dos cosas cruciales quedan relegadas a un segundo plano: cómo Son las cosas (no como serían) y la lógica del Poder.

               <br><br>


II

</p>
<img src="{% static 'img/criptolibertad/criptomediano.jpg' %}" alt="..." class="img-responsive">

  <blockquote>
    En el mundo globalizado del siglo XXI hay una forma de construir límites al Poder, una sola herramienta, una única salida: el Internet.
  </blockquote>
               <br>
<p>

Si en efecto el Estado moderno cae* y un nuevo orden surge, la forma de mantener a ese orden a raya es mediante el uso de las conexiones del ciberespacio y sus posibilidades.

La humanidad tiene que ser capaz de vigilar al poder, hacer públicas sus acciones de riesgo y responder adecuadamente. Si las agencias de seguridad privada toman la posta, éstas deben ser cuidadosamente vigiladas por el pueblo y los medios de comunicación; si la justicia es privatizada, todos los juicios deben tener su respectivo archivo en la red y la humanidad debe poder calificar a los jueces. Tanto las agencias de seguridad como las posibles empresas de arbitraje constituyen un poder, y todo poder por coherencia histórica no debe tener privacidad en sus acciones. Lo mismo con la producción y comercialización de armas pesadas; sin subestimar el peligro, las minas de plutonio y uranio deben ser hackeadas, monitoreadas y vigiladas constantemente.

               <br><br>

El código de una pistola personal debe ser abierto y cualquiera con una impresora 3D debe poder armarla en su casa. El código de un programa de arquitectura puede no ser abierto por que no representa un eslabón esencial para la descentralización del poder (que es de todo de lo que se trata el criptoanarquismo).

               <br><br>

La humanidad debe entender qué es el “Blockchain” al igual que entiende que la luna es un satélite de la Tierra. Los títulos de propiedad de tierras deben dejar el Ministerio y formar un blockchain; la economía debe moverse en Bitcoins y en otras criptomonedas; la investigación científica debe apoyarse en crowfunding y debe ser completamente abierta. Las patentes deben ser una reliquia y las fórmulas de nuestros alimentos totalmente transparentes.

              <br><br>

Si una empresa grande decide cerrar las puertas de su investigación científica, de la composición de sus productos o de sus actividades bancarias, debe ser hackeada y boicoteada. ¿Cual es el riesgo? Military Industrial Complex, HAARP y MK-Ultra (1953) son algunos de los nombres que trae mi memoria. Creer que una corporación en un mundo sin Estado sería por antonomasia inofensiva es una miopía que padecen muchos capitalistas, ¡Cuán importante es para ellos dejar la voluntariedad y la propiedad privada de sus mercados libres idealizados y estudiar qué dio a luz a la criatura de Jekyll Island!.

               <br><br>

La humanidad debe acechar a la humanidad de la misma manera en que vigila a un volcán por si abre su cráter. Solamente si llegamos a un escenario así, podremos gozar de un equilibrio y prevenir que la Ciudad Estado de Washington o la empresa de seguridad BGroove decida comprar suficientes armas para una agenda bélica.

              <br><br>

III

               <br><br>

Hay quienes abogan por el pacifismo, como si una niebla de buenas intenciones y cantos de sirenas pudiera esconder el trono del poder. No. Esperar que la humanidad se cubra de serenidad por un cambio positivo en la cultura es dejar el espacio para que un miembro de cualquiera de las élites con otros valores tome el báculo.

               <br><br>

Si alguna vez la humanidad llega a un equilibrio de poder descentralizado como el antes descrito, habrá espacio para el anarcocapitalismo, para el mutualismo e incluso para el comunismo. Aunque sin duda el primero gozaría de mayores ingresos, es posible que un grupo de millonarios decida exiliarse en una comunidad sin dinero, en donde “de cada quien según su capacidad para cual según su capacidad” termine con los ahorros de su vida, pero, ¿cuál es el problema?. Mientras la humanidad esté bajo el umbral del criptoanarquismo, el cáliz del poder será vigilado y descentralizado. El anarcocapitalista podrá vivir en la ciudad de empresas y el mutualista en la de cooperativas.

               <br><br>

Pero el criptoanarquismo comprende que la humanidad está muy lejos de lograr un equilibrio. Es aquí donde rompe con el “anarcocapitalismo”, el “mutalismo”, el “voluntarianismo” y todos los “ismos” que efervecen ingenuidad y se concentran en el ideal, en el Edén y en los muros que puedan levantarse frente a las otras ideologías. El criptoanarquismo incluye las herramientas de salida: redes P2P, código abierto, anonimia y blockchains por ahora; y también otorga sombra bajo sus ramas al anarcocapitalismo y al mutualismo y a lo que pueda venir, ¡laissez faire, laissez passer!.

               <br><br>

El hombre que utiliza Bitcoin porque no está de acuerdo con el monopolio de la moneda es un criptoanarquista, sin importar si su Edén es capitalista o comunista.  El criptoanarquismo es en sí el método y también el ideal pues retrata un mundo en el que el poder esté distribuido y la humanidad libre.

               <br><br>

Por último, el criptoanarquismo entiende que quizás, una vez quemadas las urnas del templo, las instituciones que utiliza la humanidad evolucionen y no se parezcan en nada a lo que hemos visto hasta ahora. Las empresas de arbitraje y seguridad tal vez sean delirios del mar que tiene un pez en una pecera.</p>

              <div class="space"></div>
                <span class="meta-date pull-right">
                Alejandro Veintimilla <br>
                Julio 2015 <br>
                @criptoanarquism
                </span>

              <div class="clearfix"></div>
              </div> <!--- End Text Wrapper -->
            
            </div><!--- End Content Wrapper--> 
          
          </div> <!--- End Right Content -->

    </div> <!-- End Row -->
  </div> <!-- End Container -->

</div> <!--- End Full Screen Blog Post Page -->

{% endblock content %}
