{% extends 'base_videos.html' %}
{% load staticfiles %}

{% block imagen %}
    <div class="featured-img"><img src="{% static 'img/criptolibertad/cubo2.jpg' %}" alt="..."></div>
{% endblock imagen %}

{% block titulo_tags %}
   <h1>Historia de la CONCIENCIA y <br>el PODER</h1>
    <ul class="tags">
      <li>Psicología</li>
      <li>Política</li>
      <li>Historia</li>
    </ul>

{% endblock titulo_tags %}

{% block descripcion %}
    <p>Esto es un LIBRO, es una CANCIÓN, es un VIDEO. Si quieres leerlo, asegúrate que tienes el tiempo y sube el volumen de tus audífonos.</p>
{% endblock descripcion %}


{% block iframe %}
<iframe width="560" height="315" src="https://www.youtube.com/embed/w6kam1K_cwo" frameborder="0" allowfullscreen>
</iframe>
{% endblock iframe %}

{% block quote %}
<blockquote>
  Un uróboro es una palabra griega que representa a un animal que engulle su propia cola, formando un círculo. Si dicho animal, por ejemplo, una serpiente, comienza a comerse su cola y termina tragándose todo su cuerpo... ¿Dónde estaría la serpiente?.
</blockquote>
{% endblock quote %}

