{% extends 'base.html' %}

{% load staticfiles %}

{% block content %}

<div id="preloader">
  <div id="status">&nbsp;</div>
</div>

<div class="navmenu navmenu-default navmenu-fixed-left offcanvas"> <!--- Off Canvas Side Menu -->      
  <br>
  <br>
  <ul class="nav navmenu-nav"> <!--- Menu -->
    <li><a href="{% url 'historia_conciencia_poder' %}">Historia de la CONCIENCIA y el PODER</a></li>
    <li><a href="{% url 'cripto_blog' %}">BLOG</a></li>
    <li><a href="{% url 'cripto_videos' %}">VIDEOS</a></li>
  </ul><!--- End Menu -->

  <ul class="social-media"> <!--- User Social Media -->
    <li><a href="#">Twitter</a></li>
    <li><a href="#">Facebook</a></li>
    <li><a href="#">Google +</a></li>
    <li><a href="#">Youtube</a></li>
  </ul> <!--- End User Social Media -->
</div> <!--- End Off Canvas Side Menu -->



<!-- Fullscreen Page 
================================================== -->
<div id="fullscreen" class="home"> <!-- Full Screen Home Page -->
  <div id="overlay" class="bg"></div> <!-- Color Overlay -->
    
    <div id="home" class="container"> <!-- Start Container -->
      <div class="row"> <!-- Start Row -->

        <div id="left" class="col-sm-12 col-md-12"> <!--- Left Content <div id="menu" class="fa fa-bars fa-2x" data-toggle="offcanvas" data-target=".navmenu" data-canvas="body"></div>-->
                      
          <div id="menu" class="fa fa-key fa-2x fa-rotate-90" data-toggle="offcanvas" data-target=".navmenu" data-canvas="body"></div>
          <div id="page-detail" class="text-center">

            <div class="space"></div>
            <div class="space"></div>                
                            
            <div class="space"></div>                
            <div class="space"></div>


            <h1> CRIPTOLIBERTAD </h1>

          <nav id="footer-nav" class="navbar navbar-default navbar-fixed-bottom" role="navigation">                               
            <ul class="tags">
              <li>Economía</li>
              <li>Filosofía</li>
              <li>Psicología</li>
              <li>Política</li>
              <li><strong>Criptoanarquismo</strong></li>
            </ul>                
          </nav>
        </div> <!--- End Left Content -->
      
      </div> <!-- End Row -->
    </div> <!-- End Container -->

</div> <!--- End Fullscreen Page -->

{% endblock content %}

{% block extra_javascript %}
  <script type="text/javascript">
    //Home Page BG Slideshow
    //-----------------------------------
    $.backstretch([
          "{% static 'img/criptolibertad/criptohome.jpg' %}"
      ], {duration: 3000, fade: 750});
  </script>
{% endblock extra_javascript %}