{% extends 'base_videos.html' %}
{% load staticfiles %}

{% block imagen %}
    <div class="featured-img"><img src="{% static 'img/criptolibertad/videos/apocalipsis_portada.jpg' %}" alt="..."></div>
{% endblock imagen %}

{% block titulo_tags %}
   <h1>El Mito del <br>Apocalipsis</h1>
    <ul class="tags">
      <li>Teología</li>
      <li>Política</li>
      <li>Historia</li>
    </ul>
{% endblock titulo_tags %}

{% block descripcion %}
  <p></p>
{% endblock descripcion %}


{% block iframe %}
    <iframe width="560" height="315" src="https://www.youtube.com/embed/7RPZg73TJV4" frameborder="0" allowfullscreen></iframe>
{% endblock iframe %}

{% block quote %}
<blockquote>
    ... And no one showed us to the land<br>
    and no one knows the where's or why's<br>
    but something stirs and something tries,<br>
    and starts to climb towards the light...<br>
</blockquote>
{% endblock quote %}


{% block fuentes %}
    <div class="accordion panel-group" id="accordion">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#acordion1">
                        <i class="fa fa-video-camera"></i>
                        Videos
                    </a>
                </h4>
            </div>
            <div id="acordion1" class="collapse">
                <div class="panel-body">
                    <a target="_blank" href="http://www.allocine.fr/film/fichefilm_gen_cfilm=209348.html" class="list-group-item list-group-item-info">
                        Il était une forêt
                    </a>
                    <a target="_blank" href="https://www.youtube.com/watch?v=MDLeWVYQmFA" class="list-group-item list-group-item-info">
                        Amoeba eats two paramecia
                    </a>
                    <a target="_blank" href="https://www.youtube.com/watch?v=3fIIBPgiQ00" class="list-group-item list-group-item-info">
                        Rotifers Feeding
                    </a>
                    <a target="_blank" href="https://www.youtube.com/watch?v=vK6HmAxmjM4" class="list-group-item list-group-item-info">
                        Bullfrogs eating birds, spiders, scorpians and each other - National Geographic
                    </a>
                    <a target="_blank" href="https://www.youtube.com/watch?v=IlKtk8uQvZ0" class="list-group-item list-group-item-info">
                        Eagle vs. Sea Snake - National Geographic
                    </a>
                    <a target="_blank" href="https://www.youtube.com/watch?v=fKBweD2hyf4" class="list-group-item list-group-item-info">
                        The Lone Wolf of Yellowstone Park
                    </a>
                    <a target="_blank" href="https://www.youtube.com/watch?v=nwT86pm1g4U" class="list-group-item list-group-item-info">
                        Big animal fights - natures heavyweights face off!
                    </a>
                    <a target="_blank" href="https://www.youtube.com/watch?v=4TkEUeDWWT4" class="list-group-item list-group-item-info">
                        Chameleon Fight - Madagascar - BBC
                    </a>
                    <a target="_blank" href="https://www.youtube.com/watch?v=97vPNAUYJsc" class="list-group-item list-group-item-info">
                        Chameleon - impressive creation - Fine Art Bodypainting by Johannes Stötter
                    </a>
                    <li class="list-group-item list-group-item-info">
                        2001: A Space Odissey
                    </li>
                    <li class="list-group-item list-group-item-info">
                        300
                    </li>
                    <li class="list-group-item list-group-item-info">
                        Gladiator
                    </li>
                    <li class="list-group-item list-group-item-info">
                        Warcraft 3 Reign of Chaos Intro
                    </li>
                    <li class="list-group-item list-group-item-info">
                        Black Sails Walrus vs Spanish Sheep
                    </li>
                    <li class="list-group-item list-group-item-info">
                        Alexander the Great
                    </li>
                    <li class="list-group-item list-group-item-info">
                        Hero
                    </li>
                    <li class="list-group-item list-group-item-info">
                        Vikings
                    </li>
                    <a target="_blank" href="https://www.youtube.com/watch?v=FwEkaGYBdHs" class="list-group-item list-group-item-info">
                        North Korea war parade - RT
                    </a>
                    <a target="_blank" href="https://www.youtube.com/watch?v=OHZIUdHm6b4" class="list-group-item list-group-item-info">
                        China - Hell March - the largest army in the world
                    </a>
                    <a target="_blank" href="https://www.youtube.com/watch?v=S4DZQhfrl5Y" class="list-group-item list-group-item-info">
                        Chinese Beautiful Pink Army
                    </a>
                    <li class="list-group-item list-group-item-info">
                        Full Metal Jacket
                    </li>
                    <li class="list-group-item list-group-item-info">
                        Letters from Iwo Jima
                    </li>
                    <li class="list-group-item list-group-item-info">
                        Saving private Ryan
                    </li>
                    <a target="_blank" href="https://www.youtube.com/watch?v=h1tf8lv_yakQhfrl5Y" class="list-group-item list-group-item-info">
                        Footage: Atomic bomb drop in Hiroshima
                    </a>
                    <a target="_blank" href="https://www.youtube.com/watch?v=Ys2cEeY_qF4" class="list-group-item list-group-item-info">
                        Nuclear and hydrogen explosions
                    </a>
                    <a target="_blank" href="https://www.youtube.com/watch?v=qjnm3V0xYjI" class="list-group-item list-group-item-info">
                        Tstar Bomb
                    </a>
                    <a target="_blank" href="https://www.youtube.com/watch?v=qDMUekfOR-E" class="list-group-item list-group-item-info">
                        Operation Hardtack
                    </a>
                    <li class="list-group-item list-group-item-info">
                        Dr Strangelove
                    </li>
                    <li class="list-group-item list-group-item-info">
                        Four Horsemen of the Apocalypse - Viktor Vasnetsov
                    </li>
                    <a target="_blank" href="https://www.youtube.com/watch?v=v9Wbj1-pZcQ" class="list-group-item list-group-item-info">
                        This is Revision - Darpa
                    </a>
                    <li class="list-group-item list-group-item-info">
                        Call of Duty
                    </li>
                    <li class="list-group-item list-group-item-info">
                        House of Cards
                    </li>
                    <a target="_blank" href="https://www.youtube.com/watch?v=qjnm3V0xYjI" class="list-group-item list-group-item-info">
                        Predator Drone Missile Strike - Missile Cam
                    </a>
                    <li class="list-group-item list-group-item-info">
                        The Simpsons
                    </li>
                    <li class="list-group-item list-group-item-info">
                        The Lego Movie
                    </li>
                    <a target="_blank" href="https://www.youtube.com/watch?v=vYO1Dy_z3lY" class="list-group-item list-group-item-info">
                        The Music Scene by Anthony Francisco Schepperd
                    </a>
                    <a target="_blank" href="https://www.youtube.com/watch?v=rEUxlwb2uFI" class="list-group-item list-group-item-info">
                        Love & Theft - Filmbilder
                    </a>
                    <a target="_blank" href="https://www.youtube.com/watch?v=zKPhjkw3Y84" class="list-group-item list-group-item-info">
                        7 Billion - Ciriak
                    </a>
                    <a target="_blank" href="https://www.youtube.com/watch?v=vYO1Dy_z3lY" class="list-group-item list-group-item-info">
                        The Music Scene by Anthony Francisco Schepperd
                    </a>
                    <li class="list-group-item list-group-item-info">
                        The Captive - Emma Tooth
                    </li>
                    <li class="list-group-item list-group-item-info">
                        The Creation of Adam - Michelangelo
                    </li>
                    <a target="_blank" href="https://www.youtube.com/watch?v=-6oKJ5FGk24" class="list-group-item list-group-item-info">
                        Where Are the Ants Carrying All Those Leaves? | Deep Look
                    </a>
                    <li class="list-group-item list-group-item-info">
                        Pearl Jam - Do the Evolution
                    </li>
                    <li class="list-group-item list-group-item-info">
                        The Matrix
                    </li>
                    <li class="list-group-item list-group-item-info">
                        The Trial - Orson Wells final scene (Franz Kafka)
                    </li>
                    <li class="list-group-item list-group-item-info">
                        Spirited Away
                    </li>
                    <li class="list-group-item list-group-item-info">
                        The Seventh Seal
                    </li>
                    <li class="list-group-item list-group-item-info">
                        Eyes Wide Shut
                    </li>
                    <li class="list-group-item list-group-item-info">
                        Batman vs Superman
                    </li>
                    <li class="list-group-item list-group-item-info">
                        September 11 - 2001 Twin Towers Collapse
                    </li>
                    <li class="list-group-item list-group-item-info">
                        Disturbed - The Vengeful One
                    </li>
                    <a target="_blank" href="https://www.youtube.com/watch?v=6n_xCI-peq0" class="list-group-item list-group-item-info">
                        I, Pet Goat II
                    </a>
                    <a target="_blank" href="https://www.youtube.com/watch?v=0zn50AAZ4Oc" class="list-group-item list-group-item-info">
                        The Fall of the King - A Blender Chess Animation
                    </a>
                    <li class="list-group-item list-group-item-info">
                        2001: A Space Odissey final scene
                    </li>
                    <li class="list-group-item list-group-item-info">
                        Warcraft 3 The Frozen Throne - Illidan
                    </li>
                    <a target="_blank" href="https://www.youtube.com/watch?v=v71eF8HdZb8" class="list-group-item list-group-item-info">
                        Russia test-launches missiles
                    </a>
                    <li class="list-group-item list-group-item-info">
                        I, Pet Goat II
                    </li>
                </div>
            </div>
        </div>
        <div class="panel panel-success">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#acordion2">
                        <i class="fa fa-music"></i>
                        Música
                    </a>
                </h4>
            </div>
            <div id="acordion2" class="collapse">
                <div class="panel-body">
                    <li class="list-group-item list-group-item-success">
                        Ravi Shankar feat Philip Glass - Channels and Winds
                    </li>
                    <li class="list-group-item list-group-item-success">
                        Sophia - Humanicide
                    </li>
                    <li class="list-group-item list-group-item-success">
                        Igorrr - Tout Petit Moineau
                    </li>
                    <li class="list-group-item list-group-item-success">
                        SoiSong - Jam talay sai
                    </li>
                </div>
            </div>
        </div>
        <div class="panel panel-warning">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#acordion3">
                        <i class="fa fa-pencil"></i>
                        Texto
                    </a>
                </h4>
            </div>
            <div id="acordion3" class="collapse">
                <div class="panel-body">
                    Overhead the albatross hangs motionless upon the air <br>
                    And deep beneath the rolling waves in labyrinths of coral caves<br>
                    The echo of a distant tide<br>
                    Comes willowing across the sand<br>
                    And everything is green and submarine<br>

                    <strong>
                    And no one showed us to the land<br>
                    And no one knows the wheres or whys<br>
                    But something stirs and something tries<br>
                    And starts to climb towards the light<br>
                    </strong>

                    Strangers passing in the street<br>
                    By chance two separate glances meet<br>
                    And I am you and what I see is me<br>
                    And do I take you by the hand<br>
                    And lead you through the land<br>
                    And help me understand the best I can<br>
                    And no one calls us to move on<br>
                    And no one forces down our eyes<br>
                    No one speaks<br>
                    And no one tries<br>
                    No one flies around the sun<br>

                    Cloudless every day you fall upon my waking eyes<br>
                    Inviting and inciting me to rise<br>
                    And through the window in the wall<br>
                    Come streaming in on sunlight wings<br>
                    A million bright ambassadors of morning<br>

                    And no one sings me lullabies<br>
                    And no one makes me close my eyes<br>
                    So I throw the windows wide<br>
                    And call to you across the sky.<br>

                    <br>
                    Echoes - Pink Floyd
                </div>
            </div>
        </div>
    </div>
{% endblock fuentes %}
