{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
<!-- Fullscreen Page
================================================== -->
<div id="fullscreen">  <!--- Full Screen Single Blog Post Page -->
  <div id="sidebar" class="blog">
    <div class="featured-img"><img src="{% static 'img/criptolibertad/hacker_face.jpg' %}" alt="..."></div> <!-- featured image-->
  </div>

  <div class="container"> <!-- Start Container -->
    <div class="row"> <!-- Start Row -->
      <div id="left" class="col-sm-6 col-md-6"> <!--- Left Content -->

          <div id="menu" class="fa fa-bars fa-2x" data-toggle="offcanvas" data-target=".navmenu" data-canvas="body"></div>
          <div id="page-detail">

            <h1>Qué es el <br>Criptoanarquismo</h1>

            <ul class="tags">
              <li>Anarquía</li>
              <li>Política</li>
              <li>Poder</li>
            </ul>

          </div>
      </div> <!--- End Left Content -->

                <div id="right" class="col-sm-6 col-md-6"> <!--- Right Content -->
                <div id="content"><!--- Start Content Wrapper-->
                <div class="text"> <!--- Start Text Wrapper -->
                <span class="meta-date pull-right">Dialoga con el <a href="http://austroanarquistas.com/?p=4440">Manifesto Criptoanarquista</a>.<br>
                </span>
                <br>
                <br>
                <p>
              <br><br>
                    Timothy C May escribió <a href="http://austroanarquistas.com/?p=4440">Manifesto Criptoanarquista</a>,
                    un texto corto  que señala el "espectro" que ahora se posa sobre el mundo:

                    </br></br>

                    La búsqueda, a través de la criptografía, de la libertad de comunicarse sin ser escuchados,
                    de compartir sin ser regulados y de comerciar sin que una institución mafiosa, el Estado,
                    sea capaz de robar un porcentaje de la transacción (impuestos).

                    </br></br>

                    El resto del Criptomicón, documento que contiene el Manifesto Criptoanarquista, no añade valor
                    ni cumple las expectativas que ofrece su pomposo nombre. A pesar de ello, vale reconocer que
                    T. May en 1997 delucidó el único camino que le puede dar la libertad al mundo.
                    No hay otra salida. El criptoanarquismo nace de ésta realidad.

                    </br></br>

                    "Cripto" es por criptografía, el método que se utiliza para ocultar un mensaje de lectores no
                    aceptados. El mensaje puede transportar, entre otras cosas, un texto, una foto o una moneda. El
                    poder revolucionario de la criptografía salta a la vista.

                    </p>

                    <p>
                    <img src="{% static 'img/criptolibertad/cyber_security.jpg' %}" alt="..." class="img-responsive">

                    <blockquote>
                    Permite enviar un libro sin pagar
                    derechos de autor; o enviar una moneda sin pagar impuestos; o conversar sin que un tercero
                    escuche; o compartir una foto con los amigos, y nadie más.
                    </blockquote>
                    <p>

                    <p>

                    </br></br>

                    El 'poder revolucionario' es la fuerza capaz de hacer que nuestras instituciones caducadas por
                    fin se desmoronen y caigan en las décadas de este siglo. No obstante el criptoanarquismo es más que
                    esto, guarda en sí un candado que evitaría que el poder se 'vuelva a centralizar' (un dilema y un
                    riesgo que ni el anarcocapitalismo, ni el mutualismo, las dos corrientes ácratas que respeto y
                    que son de lectura indispensable para cualquier pensador anarquista, han logrado solucionar) a
                    través de la apertura de la información en ciertos casos (Blockchain) o de la protección
                    criptográfica en otros.

                    </br></br>

                    Éstas son algunas de las cartas que puede jugar el criptoanarquismo en contra del poder centralizado
                    y de su institución moderna: el Estado.

                    </br></br>

                    <strong>Tecnología Blockchain</strong>. Las cadenas de bloques distribuidas pueden ser utilizadas
                    de diferentes maneras, su famosa aplicación inicial, el Bitcoin, abrió el mundo a las criptomonedas.
                    Éstas permiten que el ciudadano A intercambie con el ciudadano B sin que el Estado robe su parte, y,
                    lo más importante, sin que A y B deban utilizar los tickets verdes que imprime el Banco Central.

                    </br></br>

                    Además de criptomonedas, el blockchain puede reemplazar y transparentar todos los registros del
                    Estado. En <a href="https://bitnation.co/services/">Bitnation</a>, se plantea guardar el
                        Registro de la Propiedad en un blockchain, relevando
                    al Ministerio de su "rol primordial" de anotar el nombre del dueño. También se podría guardar
                    Licencias, Permisos y documentos notarizados, desintegrando por completo el aparato burocrático.

                    </br></br>

                    <strong>Filosofía de Información Libre y Código Abierto</strong>. Es conocido que programadores de
                    todos los tipos abogan por el código abierto y colaborativo. Si ésta tendencia continúa y crece en
                    la producción de software y hardware (ver <a href="https://es.wikipedia.org/wiki/Hardware_libre">
                        open hardware</a>), las instituciones que gobiernan el mundo
                    en el que vivimos quedarían al borde de la extinción. La gente podría bajarse el código de un arma
                    e imprimirla en 3D o construir sus propios celulares y computadoras. O también colaborar en la
                    construcción de una biblioteca online; o en el desarrollo de un 'Facebook' open-source sin NSA en la
                    puerta trasera; o en una plataforma sólida y segura que permita al ciudadano C prestar dinero al
                    ciudadano D, terminando con la vida de los bancos.

                    </br></br>

                    <strong>Protección de la privacidad. </strong>. En un mundo en el que el Estado amenaza con
                    entrometerse en la vida del individuo y convertir la realidad en una cárcel con panóptico,
                    la criptografía resulta la única herramienta defensiva. Aún si el blockchain es satanizado y
                    sus aplicaciones intervenidas; y el open-source prohibido a favor de las mafias de patentes; y
                    el Internet vigilado y regulado, el hombre en búsqueda de libertad siempre tendrá la criptografía
                    para romper el silencio.

                    </br></br>
                    </br></br>

                    Además de sus herramientas ácratas, el criptoanarquismo incluye un entendimiento de la urgencia
                    de sí mismo. Si no fuera por ésto, el movimiento se reduciría a un grupo de geeks sin norte.

                    </br></br>

                    </p>

                    <p>
                    <img src="{% static 'img/criptolibertad/internet_ball.jpg' %}" alt="..." class="img-responsive">

                    <blockquote>
                    El mundo se dirige a la total conectividad. Las cosas, las computadores y los hombres difuminan
                    sus fronteras. Los datos se guardan en el Internet y cada vez más, el ser humano reporta sus
                    acciones en el perfil de tal o cual red social. Así, con el pasar de las décadas La Red se irá
                    acercando al <a href="http://www.ciudadseva.com/textos/cuentos/esp/borges/el_aleph.htm">Aleph</a>.
                    </blockquote>
                    <p>

                    <p>
                    </br></br>

                    Los que tengan acceso a la suma de la información del mundo conocerán todas las acciones, podrán
                    mirar todas las fotos y escuchar las conversaciones. Como mínimo, serán capaces de predecir los
                    movimientos bursátiles y los resultados democráticos.

                    </br></br>

                    Los que puedan regular el Internet, que en el futuro dejará la Nube y germinará en el mundo la
                    Realidad Aumentada, podrán configurar la sociedad a su antojo. A pesar de que suene a ciencia
                    ficción, la Historia amenaza con desembocar en una Matrix. Es una cualidad del criptoanarquista
                    el comprender este riesgo. Ni los mafiosos del Capitolio y la NSA, ni los mafiosos de una corporación
                    deben poseer tal poder.

                    </br></br>

                    Por último, el criptoanarquismo es humilde cuando se trata de idealizar utopías, pasatiempo en el
                    que se enredan otras corrientes del pensamiento anárquico (con la posible excepción del agorismo).
                    No sabemos si un mundo sin Estado será anarcocapitalista o mutualista, o si albergará regiones
                    comunistas y pueblos diversos. Para el criptoanarquismo el debate entre movimientos
                    ácratas sobre los detalles es inútil y, a veces, arrogante.

                    </br></br>

                    El criptoanarquista sabe que el mundo actual está completamente configurado por el Estado y las
                    mafias que lo rodean. Y a partir de ello entiende que no podemos saber con seguridad cómo se
                    vería un mundo libre, al igual que un pez no puede saber cómo se siente el mar a partir de la
                    experiencia en su pecera.

                </p>

              <div class="space"></div>
                <span class="meta-date pull-right">
                    Alejandro Veintimilla <br>
                    Julio 2015 <br>
                    @criptoanarquism
                </span>

              <div class="clearfix"></div>
              </div> <!--- End Text Wrapper -->

            </div><!--- End Content Wrapper-->

          </div> <!--- End Right Content -->

    </div> <!-- End Row -->
  </div> <!-- End Container -->

</div> <!--- End Full Screen Blog Post Page -->

{% endblock content %}
