{% extends 'base_videos.html' %}
{% load staticfiles %}

{% block imagen %}
    <div class="featured-img"><img src="{% static 'img/criptolibertad/videos/caverna_portada.jpeg' %}" alt="..."></div>
{% endblock imagen %}

{% block titulo_tags %}
   <h1>Caverna</h1>
    <ul class="tags">
      <li>Filosofía</li>
      <li>Historia</li>
      <li>Psicología</li>
    </ul>

{% endblock titulo_tags %}

{% block descripcion %}
    <p>Sobre la ruptura del nido en el que vivíamos, la iglesia y el mito del poder.</p>
{% endblock descripcion %}

{% block iframe %}
    <iframe width="560" height="315" src="https://www.youtube.com/embed/O9w-ASk3BrU" frameborder="0" allowfullscreen></iframe>
{% endblock iframe %}

{% block quote %}
<blockquote>
</blockquote>
{% endblock quote %}

