{% extends 'base_videos.html' %}
{% load staticfiles %}

{% block imagen %}
    <div class="featured-img"><img src="{% static 'img/criptolibertad/videos/carreteras_portada.jpg' %}" alt="..."></div>
{% endblock imagen %}

{% block titulo_tags %}
   <h1>Carreteras</h1>
    <ul class="tags">
      <li>Economía</li>
      <li>Filosofía Política</li>
    </ul>

{% endblock titulo_tags %}

{% block descripcion %}
    <p>Sobre la construcción de las carreteras y las consecuencias del transporte en manos del Estado.</p>
{% endblock descripcion %}

{% block iframe %}
    <iframe width="560" height="315" src="https://www.youtube.com/embed/AwSTap4cce8?list=PLhgc-wWuMgISSGysVvNUjXfgzx0M4iDfq" frameborder="0" allowfullscreen></iframe>
{% endblock iframe %}

{% block quote %}
<blockquote>
</blockquote>
{% endblock quote %}

{% block fuentes %}
    <div class="list-group">
        <!--
            Link Texto - warning
            <a target="_blank" href ="link" class="list-group-item list-group-item-warning">
               titulo
            </a>

            Link Video - info
            <a target="_blank" href="link" class="list-group-item list-group-item-info">
              titulo
            </a>
        -->
        <a target="_blank" href="https://www.youtube.com/watch?v=rKoTYMKyVh8" class="list-group-item list-group-item-info">
            Who Will Build the Roads? — Dr. Walter Block
        </a>
        <a target="_blank" href ="https://mises.org/library/privatization-roads-and-highways" class="list-group-item list-group-item-warning">
            The Privatization of Roads and Highways
        </a>
        <a target="_blank" href ="https://fee.org/articles/the-distorting-effects-of-transportation-subsidies/" class="list-group-item list-group-item-warning">
           The Distorting Effects of Transportation Subsidies
        </a>
        <a target="_blank" href ="http://www.elindependent.org/articulos/article.asp?id=757" class="list-group-item list-group-item-warning">
           El faro como un bien público del sector privado
        </a>
        <a target="_blank" href ="https://en.wikipedia.org/wiki/Free-market_roads" class="list-group-item list-group-item-warning">
           Free-market roads
        </a>
        <a target="_blank" href="https://www.youtube.com/watch?v=ySnk-f2ThpE" class="list-group-item list-group-item-info">
          How Big Oil Conquered the World
        </a>
    </div>
{% endblock fuentes %}
