{% extends 'base_videos.html' %}
{% load staticfiles %}

{% block imagen %}
    <div class="featured-img"><img src="{% static 'img/criptolibertad/videos/caverna_portada.jpeg' %}" alt="..."></div>
{% endblock imagen %}

{% block titulo_tags %}
   <h1>Caverna</h1>
    <ul class="tags">
      <li>Filosofía</li>
      <li>Historia</li>
      <li>Psicología</li>
    </ul>

{% endblock titulo_tags %}

{% block descripcion %}
    <p>Sobre la ruptura del nido en el que vivíamos, la iglesia y el mito del poder.</p>
{% endblock descripcion %}

{% block iframe %}
    <iframe width="560" height="315" src="https://www.youtube.com/embed/O9w-ASk3BrU" frameborder="0" allowfullscreen></iframe>
{% endblock iframe %}

{% block quote %}
<blockquote>
</blockquote>
{% endblock quote %}

{% block fuentes %}
    <div class="list-group">
        <a target="_blank" href="https://www.youtube.com/watch?v=yNRA0LCQ4Wc" class="list-group-item list-group-item-info">
           Jean Gebser's Ever-Present Origin John David Ebert
        </a>
        <a target="_blank" href="https://www.youtube.com/watch?v=k4_z_LVU900" class="list-group-item list-group-item-info">
           Science and Islam
        </a>
        <a target="_blank" href="https://es.wikipedia.org/wiki/Movimiento_de_los_Flagelantes" class="list-group-item list-group-item-warning">
           Movimiento de los Flagelantes
        </a>
        <a target="_blank" href="https://www.youtube.com/watch?v=1o8oIELbNxE" class="list-group-item list-group-item-info">
           Crash Course - Reform
        </a>
        <a target="_blank" href="http://www.antorcha.net/biblioteca_virtual/politica/principe/11.html" class="list-group-item list-group-item-info">
           DE LOS PRINCIPADOS ECLESIÁSTICOS
        </a>
    </div>
{% endblock fuentes %}