{% extends 'base_videos.html' %}
{% load staticfiles %}

{% block imagen %}
    <div class="featured-img"><img src="{% static 'img/criptolibertad/videos/castillo_portada.jpg' %}" alt="..."></div>
{% endblock imagen %}

{% block titulo_tags %}
   <h1>Castillo</h1>
    <ul class="tags">
      <li>Historia</li>
      <li>Psicología</li>
      <li>Sociología</li>
    </ul>

{% endblock titulo_tags %}

{% block descripcion %}
    <p>Sobre la corona del Rey.</p>
{% endblock descripcion %}

{% block iframe %}
    <iframe width="420" height="315" src="https://www.youtube.com/embed/lRZjSGehM4M" frameborder="0" allowfullscreen></iframe>
{% endblock iframe %}

{% block quote %}
<blockquote>
</blockquote>
{% endblock quote %}

{% block fuentes %}
    <div class="list-group">
        <a target="_blank" href="https://www.youtube.com/watch?v=yvsCpCsZVLQ" class="list-group-item list-group-item-info">
           La insoportable levedad del Ser - Fragmento sobre Edipo
        </a>
        <a target="_blank" href="https://es.wikipedia.org/wiki/Horus" class="list-group-item list-group-item-warning">
           Horus - Wikipedia
        </a>
        <a target="_blank" href="https://en.wikipedia.org/wiki/List_of_legendary_kings_of_Sweden" class="list-group-item list-group-item-warning">
           List of legendary kings of Sweden
        </a>
        <a target="_blank" href="https://es.wikipedia.org/wiki/Inca#Elecci.C3.B3n_del_Inca" class="list-group-item list-group-item-warning">
           La elección del Inca - Wikipedia
        </a>
        <a target="_blank" href="https://es.wikipedia.org/wiki/R%C3%B3mulo_y_Remo" class="list-group-item list-group-item-warning">
           Rómulo y Remo - Wikipedia
        </a>
        <a target="_blank" href="http://jaquealtitiritero.blogspot.com/2012/01/el-ancestral-imperio-chino-y-los.html" class="list-group-item list-group-item-warning">
           El ancestral imperio chino y los impuestos
        </a>
    </div>
{% endblock fuentes %}
