{% extends 'base_videos.html' %}
{% load staticfiles %}

{% block imagen %}
    <div class="featured-img"><img src="{% static 'img/criptolibertad/videos/conciencia_portada.jpg' %}" alt="..."></div>
{% endblock imagen %}

{% block titulo_tags %}
   <h1>Conciencia</h1>
    <ul class="tags">
      <li>Psicología</li>
      <li>Historia</li>
      <li>Filosofía</li>
    </ul>

{% endblock titulo_tags %}

{% block descripcion %}
    <p>
        Sobre la conciencia y el estudio de la evolución de la conciencia del ser humano.
    </p>
{% endblock descripcion %}

{% block iframe %}
    <iframe width="560" height="315" src="https://www.youtube.com/embed/fpuYNYURmhc" frameborder="0" allowfullscreen></iframe>
{% endblock iframe %}

{% block quote %}
<blockquote>
</blockquote>
{% endblock quote %}

