{% extends 'base_videos.html' %}
{% load staticfiles %}

{% block imagen %}
    <div class="featured-img"><img src="{% static 'img/criptolibertad/videos/conciencia_portada.jpg' %}" alt="..."></div>
{% endblock imagen %}

{% block titulo_tags %}
   <h1>Conciencia</h1>
    <ul class="tags">
      <li>Psicología</li>
      <li>Historia</li>
      <li>Filosofía</li>
    </ul>

{% endblock titulo_tags %}

{% block descripcion %}
    <p>
        Sobre la conciencia y el estudio de la evolución de la conciencia del ser humano.
    </p>
{% endblock descripcion %}

{% block iframe %}
    <iframe width="560" height="315" src="https://www.youtube.com/embed/RG7qsQnugHI?list=PLhgc-wWuMgISSGysVvNUjXfgzx0M4iDfq" frameborder="0" allowfullscreen></iframe>
{% endblock iframe %}

{% block quote %}
<blockquote>
    "Cuando estábamos insertados en la conciencia mágica, experimentábamos la realidad de una manera muy diferente, la imaginación
    se mezclaba con los sueños y los sueños se mezclaban con la realidad."
</blockquote>
{% endblock quote %}

{% block fuentes %}
    <div class="list-group">
        <a target="_blank" href="https://www.youtube.com/watch?v=rB77_07isYU" class="list-group-item list-group-item-info">
           J. David Ebert sobre Jean Gebser
        </a>
        <a target="_blank" href="https://en.wikipedia.org/wiki/Jean_Gebser" class="list-group-item list-group-item-warning">
           Wikipedia - Jean Gebser
        </a>
        <a target="_blank" href="http://www.jean-gebser-gesellschaft.ch/Dokumente/Considerations.pdf" class="list-group-item list-group-item-warning">
           The Ever Present Origin - Jean Gebser
        </a>
        <a target="_blank" href="http://www.gaiamind.org/Gebser.html" class="list-group-item list-group-item-warning">
           THE EVER-PRESENT ORIGIN - AN OVERVIEW OF THE WORK OF JEAN GEBSER
        </a>
        <a target="_blank" href="https://www.youtube.com/watch?v=vbuJDoEoonM" class="list-group-item list-group-item-info">
           Archaic Consciousness (Jean Gebser/Jessie Shaw)
        </a>
        <a target="_blank" href="https://www.youtube.com/watch?v=KaqU5cKpqjo" class="list-group-item list-group-item-info">
           Mythical Consciousness Part 1 (Jean Gebser/Jessie Shaw)
        </a>
    </div>
{% endblock fuentes %}

