{% extends 'base_videos.html' %}
{% load staticfiles %}

{% block imagen %}
    <div class="featured-img"><img src="{% static 'img/criptolibertad/videos/democracia_portada.jpg' %}" alt="..."></div>
{% endblock imagen %}

{% block titulo_tags %}
   <h1>Democracia</h1>
    <ul class="tags">
      <li>Psicología</li>
      <li>Política</li>
      <li>Filosofía</li>
    </ul>
{% endblock titulo_tags %}

{% block descripcion %}
    <p>Sobre la mente humana y el mito del poder en la actualidad.</p>
{% endblock descripcion %}

{% block iframe %}
    <iframe width="560" height="315" src="https://youtu.be/GQW2GlWKAW0" frameborder="0" allowfullscreen></iframe>
{% endblock iframe %}

{% block quote %}
<blockquote>
</blockquote>
{% endblock quote %}

{% block fuentes %}
    <div class="list-group">
        <a target="_blank" href="https://www.youtube.com/watch?v=0Pc_47SS_iw" class="list-group-item list-group-item-info">
           Carl Jung - El Hombre y sus símbolos.
        </a>
        <a target="_blank" href="http://www.criptolibertad.com/historia_conciencia_poder/" class="list-group-item list-group-item-success">
           Historia del Poder y la Conciencia
        </a>
        <a target="_blank" href="http://www.miseshispano.org/2015/07/anatomiadelestado/" class="list-group-item list-group-item-warning">
           Anatomía del Estado - Murray Rothbard
        </a>
    </div>
{% endblock fuentes %}
