{% extends 'base_videos.html' %}
{% load staticfiles %}

{% block imagen %}
    <div class="featured-img"><img src="{% static 'img/criptolibertad/videos/poder_portada.jpg' %}" alt="..."></div>
{% endblock imagen %}

{% block titulo_tags %}
   <h1>Poder</h1>
    <ul class="tags">
      <li>Sociología</li>
      <li>Filosofía</li>
    </ul>
{% endblock titulo_tags %}

{% block descripcion %}
    <p>Sobre el Poder y la realidad.</p>
{% endblock descripcion %}

{% block iframe %}
    <iframe width="560" height="315" src="https://www.youtube.com/embed/STShval6p_g?list=PLhgc-wWuMgISSGysVvNUjXfgzx0M4iDfq" frameborder="0" allowfullscreen></iframe>
{% endblock iframe %}

{% block quote %}
<blockquote>
</blockquote>
{% endblock quote %}

{% block fuentes %}
    <div class="list-group">
        <a target="_blank" href="https://www.youtube.com/watch?v=XMPOf4iMDe8" class="list-group-item list-group-item-info">
           Leadership Is to Shift the Inner Place from Where We Operate
        </a>
        <a target="_blank" href="https://www.youtube.com/watch?v=bttLtxjeeGw" class="list-group-item list-group-item-info">
           Will To Power - Nietzsche
        </a>
        <a target="_blank" href="https://es.wikipedia.org/wiki/Voluntad_de_poder" class="list-group-item list-group-item-warning">
           Voluntad de poder - Wikipedia
        </a>
        <a target="_blank" href="http://www.inau.gub.uy/biblioteca/seminario/microfisica%20poder.pdf" class="list-group-item list-group-item-warning">
           MICHEL FOUCAULT Microfísica del Poder
        </a>
    </div>
{% endblock fuentes %}