{% extends 'base_videos.html' %}
{% load staticfiles %}

{% block imagen %}
    <div class="featured-img"><img src="{% static 'img/criptolibertad/videos/prologo_portada.png' %}" alt="..."></div>
{% endblock imagen %}

{% block titulo_tags %}
   <h1>Prólogo</h1>
    <ul class="tags">
      <li>Internet</li>
      <li>Academia</li>
      <li>Información</li>
    </ul>

{% endblock titulo_tags %}

{% block descripcion %}
    <p>Antes de comenzar. Algo sobre la academia, el Internet y la conversación.</p>
{% endblock descripcion %}

{% block iframe %}
    <iframe width="560" height="315" src="https://www.youtube.com/embed/liHok2vEasM?list=PLhgc-wWuMgISSGysVvNUjXfgzx0M4iDfq" frameborder="0" allowfullscreen></iframe>
{% endblock iframe %}

{% block quote %}
<blockquote>
    "A medida en que pasan los años y los millones de usuarios acceden al Internet, van alimentando lo que se cree, una y otra vez."
</blockquote>
{% endblock quote %}

{% block fuentes %}
    <div class="list-group">
        <a target="_blank" href="https://www.youtube.com/watch?v=pMh8oBdKkK4" class="list-group-item list-group-item-info">
            Documental: Internet Rising</a>
        <a target="_blank" href="http://www.ted.com/talks/sugata_mitra_the_child_driven_education#t-2346" class="list-group-item list-group-item-info">
            TED: Sugata Mitra</a>
        <a target="_blank" href="https://www.youtube.com/watch?v=ZAwBN2Q8L14" class="list-group-item list-group-item-info">
            The Higher Education Bubble</a>
    </div>
{% endblock fuentes %}
