{% extends 'base_videos.html' %}
{% load staticfiles %}

{% block imagen %}
    <div class="featured-img"><img src="{% static 'img/criptolibertad/videos/teismo_portada.jpg' %}" alt="..."></div>
{% endblock imagen %}

{% block titulo_tags %}
   <h1>Teísmo</h1>
    <ul class="tags">
      <li>Filosofía</li>
      <li>Historia</li>
      <li>Psicología</li>
    </ul>
{% endblock titulo_tags %}

{% block descripcion %}
    <p>Sobre los mitos, la llegada del monoteísmo y la conciencia.</p>
{% endblock descripcion %}

{% block iframe %}
    <iframe width="560" height="315" src="https://www.youtube.com/embed/bYlm0TeafhA?list=PLhgc-wWuMgISSGysVvNUjXfgzx0M4iDfq" frameborder="0" allowfullscreen></iframe>
{% endblock iframe %}

{% block quote %}
<blockquote>
</blockquote>
{% endblock quote %}

{% block fuentes %}
    <div class="list-group">
        <a target="_blank" href="https://www.youtube.com/watch?v=ffKaHwnmNXc" class="list-group-item list-group-item-info">
           THE EGYPTIAN GOD OSIRIS AND HIS KINGDOM
        </a>
        <a target="_blank" href="https://www.youtube.com/watch?v=yfYg70DEXx0" class="list-group-item list-group-item-info">
           Zoroastrian Apocalypticism
        </a>
        <a target="_blank" href="https://www.youtube.com/watch?v=3sGO6RqEwRw" class="list-group-item list-group-item-info">
           East to West: The Triumph of Monotheism
        </a>
        <a target="_blank" href="https://www.youtube.com/watch?v=e6J8hPr58Qc" class="list-group-item list-group-item-info">
           The Origins of Christianity Mithras The Persian Religion
        </a>
        <a target="_blank" href="https://www.youtube.com/watch?v=eVccLvHdZek" class="list-group-item list-group-item-info">
           Zeitgeist (Edición Final) -Español Parte I Religión
        </a>
        <a target="_blank" href="https://www.youtube.com/watch?v=yhYr1Whvc7o" class="list-group-item list-group-item-info">
           Akhenaten-The world's first monotheist
        </a>
        <a target="_blank" href="https://en.wikipedia.org/wiki/Akhenaten" class="list-group-item list-group-item-warning">
           Akhenaten  -  Wikipedia
        </a>
        <a target="_blank" href="http://datateca.unad.edu.co/contenidos/434204/Protocolo_y_Modulo/Exe_Modulo/leccin_14_la_bella_y_la_bestia__orfeo_y_el_hijo_del_hombre.html"
           class="list-group-item list-group-item-warning">
           Orfeo y el hijo del Hombre
        </a>
        <a target="_blank" href="https://www.youtube.com/watch?v=OO_OuM5Jhdw" class="list-group-item list-group-item-info">
           Nietzsche: El nacimiento de la tragedia
        </a>
    </div>
{% endblock fuentes %}
