{% extends 'hisoka_base.html' %}
{% load staticfiles %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/criptolibertad/jquery-ui-negro.css' %}">
{% endblock extra_css %}


{% block content %}
<!-- Preloader
================================================== -->
<div id="preloader">
  <div id="status">&nbsp;</div>
</div>

<!-- Off Canvas Navigation
================================================== -->
<div class="navmenu navmenu-default navmenu-fixed-left offcanvas"> <!--- Off Canvas Side Menu -->      
  <br>
  <br>
  <ul class="nav navmenu-nav"> <!--- Menu -->
    <li><a href="{% url 'hisokas_main' %} ">Hisoka's Main</a></li>
    <li><a href="{% url 'crear_feral_spirit' fireball.slug %} ">Crear FeralSpirit</a></li>
  </ul><!--- End Menu -->
</div> <!--- End Off Canvas Side Menu -->

<!-- Fullscreen Page 
================================================== -->
<div id="fullscreen">  <!--- Full Screen Single Blog Post Page -->
  <div id="sidebar" class="blog">
    <div class="featured-img"><img src="{% static 'img/criptolibertad/fireball.jpg' %}" alt="..."></div> <!-- featured image-->
  </div>

  <div class="container"> <!-- Start Container -->
    <div class="row"> <!-- Start Row -->
      <div id="left" class="col-sm-6 col-md-6"> <!--- Left Content -->
        
          <div id="menu" class="fa fa-bars fa-2x" data-toggle="offcanvas" data-target=".navmenu" data-canvas="body"></div>
          <div id="page-detail">
            
            <h1>{{ fireball.nombre|title }} <br> <br> <small>FIREBALL</small></h1>

          </div>
      </div> <!--- End Left Content -->

        <div id="right" class="col-sm-6 col-md-6"> <!--- Right Content -->
        <h3> Feral Spirits </h3>
            <a href="{% url 'fireball' fireball.slug 'contador' %} " class="">Ordenar por # Tweets</a>
              <table class = "table">
                <thead>
                  <tr>
                    <th>
                      Fireball
                    </th>
                    <th>
                      Nombre
                    </th>
                    <th>
                      Cuenta : <br> Última Publicación
                    </th>
                    <th>
                      URL
                    </th>
                    <th>
                      Tags
                    </th>
                    <th>
                        Editar
                    </th>
                  </tr>
                  </thead>

                  {% for feral in feral_spirits %}
                    {% if feral.tipo == "video" %}
                    <tr class="info"> 
                    {% elif feral.tipo == "imagen" %}
                    <tr class="success">
                    {% else %}
                    <tr class="warning">
                    {% endif %}
                      <td>
                        {{feral.fireball}}
                      </td>
                      <td>
                        {{feral.nombre}}
                      </td>
                      <td>
                        <strong>{{feral.contador|default:"*0*"}}</strong> : {{feral.ultima_publicacion|date:"m-d"}}
                      </td>
                      <td>
                        <a href="{{feral.url}}">{{feral.url|truncatechars:35}}</a>
                      </td>
                      <td>
                        {% for tag in feral.tags %}
                            {{ tag.name }}
                        {% endfor %}
                      </td>
                      <td>
                        <button data-feral-id="{{ feral.id }}" class = "btn btn-class-success editar_feral"><i class="fa fa-edit"></i></button>
                      </td>
                    </tr>
                  {% endfor %}
              </table>						
          </div> <!--- End Right Content -->

        <div class="modalfullscreen modal fade" id="modal-feral" tabindex="-1" role="dialog" aria-hidden="true"> <!--- Full Screen Blog Post Page -->
        <div class="viewer container"> <!-- Start Container -->
          <div class="row"> <!-- Start Row -->
            <h2>Editar Feral</h2>
            <h6 id = "modal_nombre_feral"></h6>
            <br>

            <div class="col-md-8 col-md-offset-2">
                <div id = "form_modal">
                    <form class="form-horizontal" method="post" action="{% url 'editar_feral_spirit' %}">
                    {% csrf_token %}
                    <fieldset>

                        <div class="form-group">
                          <div class="col-md-8">
                            <input id="form_id_feral" name="id" class="form-control input-md" type="hidden">
                          </div>
                        </div>

                        <div class="form-group">
                          <label class="col-md-4 control-label" for="form_nombre_feral">Nombre</label>
                          <div class="col-md-8">
                            <input id="form_nombre_feral" name="nombre" class="form-control input-md" type="text">
                          </div>
                        </div>

                        <div class="form-group">
                          <label class="col-md-4 control-label" for="form_url_feral">URL</label>
                          <div class="col-md-8">
                            <input id="form_url_feral" name="url" class="form-control input-md" type="text">
                          </div>
                        </div>

                        <div id="modal_form_tags">
                        </div>
                        <br>
                        <br>
                        <button id="nuevo_tag" class="btn btn-primary">+</button>

                    </fieldset>
                    <br>
                    <input class="btn btn-primary" id="guardar_feral" type="submit" value="Guardar">
                    </form>
                </div>
            </div>

          </div> <!-- End Row -->
        </div> <!-- End Container -->
      </div> <!-- End Modal Popup Album #1 -->
    </div> <!-- End Row -->
  </div> <!-- End Container -->

</div> <!--- End Full Screen Blog Post Page -->

{% endblock content %}

{% block extra_javascript %}
    <script src="{% static 'js/jquery.loadTemplate-1.5.0.js' %}"></script>
    <script src="{% static 'js/jquery-ui.js' %}"></script>

    <script type="text/html" id="input_tag">
        <div class="form-group">
          <label class="col-md-4 control-label" for="form_url_feral">Tag</label>
          <div class="col-md-4">
               <input data-value="tag" id="" name="tag" class="form-control input-md tags" type="text">
          </div>
        </div>
    </script>

    <script>
        $(document).ready(function(){

            // Llena los campos del modal para editar feral
            $(".editar_feral").on("click", function(){
                var feral_id = $(this).data("feral-id");
                $("#modal_form_tags").html("");

                $.ajax({
                    url: '{% url "feral_data" %}',
                    method: "GET",
                    data: {'feral_id': feral_id},
                    success: function(response){
                        respuesta = JSON.parse(response);
                        $("#form_nombre_feral").val(respuesta.nombre);
                        $("#form_url_feral").val(respuesta.url);
                        $("#form_id_feral").val(respuesta.id);
                        console.log(respuesta.id);

                        $.each(respuesta.tags, function(index, value){
                            var div_contentedor = $("<div/>");
                            var input_tag = div_contentedor.loadTemplate("#input_tag",{
                                tag: value
                            });
                            $("#modal_form_tags").append(input_tag);
                        });

                        $("#modal-feral").modal("show");
                    },
                    error: function(response){
                        console.log(response)
                    }
                });
            });

            // Aumenta un field de tag
            $("#nuevo_tag").on("click", function(e){
                e.preventDefault();
                var div_contentedor = $("<div/>");
                input_tag = div_contentedor.loadTemplate(("#input_tag"));
                $("#modal_form_tags").append(input_tag);
            });

            var tags = JSON.parse("{{ tags_list|escapejs }}");

            // Autocomplete tag fields
            $("body").delegate('input.tags', 'focusin', function(){
                   $(this).autocomplete({
                    source: tags
                });
            });

            // Enviar Form
            $("#guardar_feral").on("click", function(e){
                e.preventDefault();
                var id_feral = $("#form_id_feral").val();
                var nombre_feral = $("#form_nombre_feral").val();
                var url_feral = $("#form_url_feral").val();
                var tags_list = [];
                ($("#modal_form_tags").find(".tags")).each(function(index, element){
                    tags_list.push($(element).val());
                });
                console.log(tags_list);

                $.ajax({
                    method: "POST",
                    url: "{% url 'editar_feral_spirit' %}",
                    data: {'id_feral': id_feral, 'nombre_feral': nombre_feral, 'url_feral': url_feral,
                        'tags_list': JSON.stringify(tags_list), 'csrfmiddlewaretoken': '{{csrf_token}}'},
                    success: function(){
                            location.reload();
                        },
                    error: function(){
                            alert("Hubo un error");
                        }
                });
            });
        });
    </script>
{% endblock extra_javascript %}