{% extends 'hisoka_base.html' %}
{% load staticfiles %}

{% block hisoka_menu %}
    <ul class="nav navmenu-nav"> <!--- Menu -->
        <li><a href="{% url 'hisokas_main' %} ">Hisoka's Main</a></li>
        <li><a href="{% url 'nueva_carta' %} ">Nueva Carta</a></li>
        <li><a href="{% url 'nuevo_grupo' %} ">Nueva Grupo</a></li>
    </ul><!--- End Menu -->
{% endblock hisoka_menu %}

{% block content %}
    <!-- Fullscreen Page
    ================================================== -->
    <div id="fullscreen">  <!--- Full Screen Single Blog Post Page -->
      <div id="sidebar" class="blog">
        <div class="featured-img"><img src="{% static 'img/criptolibertad/black_lotus.jpg' %}"
                                       alt="..."></div> <!-- featured image-->
      </div>

      <div class="container"> <!-- Start Container -->
        <div class="row"> <!-- Start Row -->
          <div id="left" class="col-sm-6 col-md-6"> <!--- Left Content -->
              <div id="menu" class="fa fa-bars fa-2x" data-toggle="offcanvas" data-target=".navmenu" data-canvas="body"></div>
              <div id="page-detail">
                <h1>MAGIC.PY<br></h1>
              </div>
          </div> <!--- End Left Content -->

            <div id="right" class="col-sm-6 col-md-6"> <!--- Right Content -->
                {% for grupo in grupos_magicpy %}
                    <p>
                        {{ grupo.nombre }}
                    </p>
                {% endfor %}
            </div>

        </div>
    </div>

{% endblock content %}

{% block extra_javascript %}
{% endblock extra_javascript %}

