{% extends 'hisoka_base.html' %}
{% load staticfiles %}

{% block content %}

<!-- Preloader
================================================== -->
<div id="preloader">
  <div id="status">&nbsp;</div>
</div>

<!-- Off Canvas Navigation
================================================== -->
<div class="navmenu navmenu-default navmenu-fixed-left offcanvas"> <!--- Off Canvas Side Menu -->
  <br>
  <br>
  <ul class="nav navmenu-nav"> <!--- Menu -->
    <li><a href="{% url 'hisokas_main' %} ">Hisoka's Main</a></li>
    <li><a href="{% url 'magic_py' %} ">  </a></li>
  </ul><!--- End Menu -->
</div> <!--- End Off Canvas Side Menu -->

<!-- Fullscreen Page
================================================== -->
<div id="fullscreen">  <!--- Full Screen Single Blog Post Page -->
  <div id="sidebar" class="blog">
    <div class="featured-img"><img src="{% static 'img/criptolibertad/black_lotus.png' %}" alt="..."></div> <!-- featured image-->
  </div>

  <div class="container"> <!-- Start Container -->
    <div class="row"> <!-- Start Row -->
      <div id="left" class="col-sm-6 col-md-6"> <!--- Left Content -->

          <div id="menu" class="fa fa-bars fa-2x" data-toggle="offcanvas" data-target=".navmenu" data-canvas="body"></div>
          <div id="page-detail">

            <h1>NUEVA CARTA</h1>

          </div>
      </div> <!--- End Left Content -->

        <div id="right" class="col-sm-6 col-md-6"> <!--- Right Content -->
            <div id="content"><!--- Start Content Wrapper-->
                <div class="text"> <!--- Start Text Wrapper -->
						<hr class ="invisible">
						<form class="form-horizontal" action="{% url 'nuevo_grupo' %}" method="post">
						{% csrf_token %}
							<fieldset>
								{{ form.non_field.errors }}

                                <div class="form-group">
                                  <label class="col-md-2 control-label" for="grupo">Nombre</label>
                                    {{ form.nombre.errors }}
                                  <div class="col-md-10">
                                    {{ form.nombre }}
                                    <span class="help-block">El nombre de la función / clase / atributo / etc</span>
                                  </div>
                                </div>

                                <div class="form-group">
                                  <label class="col-md-2 control-label" for="grupo">Imagen</label>
                                    {{ form.imagen.errors }}
                                  <div class="col-md-10">
                                    {{ form.imagen }}
                                    <span class="help-block">URL de la carta pegada de http://www.smfcorp.net</span>
                                  </div>
                                </div>

                                <div class="form-group">
                                  <label class="col-md-2 control-label" for="grupo">Descripción</label>
                                    {{ form.descripcion.errors }}
                                  <div class="col-md-10">
                                    {{ form.descripcion }}
                                    <span class="help-block">Nombre de la Carta + Características y funcionalidades</span>
                                  </div>
                                </div>

							</fieldset>
							<br>
							<input class = "btn btn-success pull-right" type="submit" value="Crear">
						</form>
						<hr class ="invisible">
	              <div class="space"></div>
    	          <div class="clearfix"></div>
              </div> <!--- End Text Wrapper -->

            </div><!--- End Content Wrapper-->

          </div> <!--- End Right Content -->

    </div> <!-- End Row -->
  </div> <!-- End Container -->

</div> <!--- End Full Screen Blog Post Page -->

{% endblock content %}
